.bodydetails{
    background-image: url(svt13.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#head1{
    border-style:solid;
    border-radius: 20px;
    text-align: center;
    color:rgb(224, 90, 112);
    font-family:"Shadows Into Light";
    padding: 10px;
    border-left-width: 10px;
     border-right-width: 10px;
}
#p1{
    color: rgb(95, 15, 29);
    font-family: "Shadows Into Light";
    font-size: x-large;

}
#h1{
    font-family: "Shadows Into Light";
    color: rgb(224, 90, 112);
    text-decoration:wavy underline;
}
hr{
    border:1px dashed rgb(224, 90, 112);
}
.menu{
    font-family: "Shadows Into Light";
    color: rgb(224, 90, 112);
    font-weight: 1000;
     transition: transform 0.3s ease;
}
.menu li:hover {
  transform: translateX(8px);    
}
#h2{
    font-family: "Shadows Into Light";
    color: rgb(104, 166, 224);
    
}
#body1{
    font-family:"Shadows Into Light" ;
    font-size: 20px;
    color:rgb(224, 90, 112);
    border: 5px solid ;
    border-radius: 30px;
    padding: 30px;
    background:rgb(159, 159, 223);

}
#facts{
    font-family:"Shadows Into Light" ;
      color:rgb(104, 166, 224);
    text-decoration:wavy underline;  
}







